* {
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
}

header,
footer {
    height: 70px;
    width: 100vw;
    background-color: aquamarine;
}

main {
    height: 100%;
    width: 100%;
}

.content {
   height: 200px; 
   
}

#countLabel {
   display: block;
   text-align: center;
   font-size: 80px; 
}

.buttons {
    display: flex;
    justify-content: center;
}

#decreaseBtn,
#resetBtn,
#increaseBtn {
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 10px;
}
table{
    border: 1px solid black;
}
tr{
    background-color: gray;
    border: 1px soled black;
}
.registration-form{
    width: 600px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    margin: 10px;
}
.form-fields{
    margin: 10px;
    width: 300px;
    display: flex;
    justify-content: space-between;
}
.submit-button{
    margin-left: 10px;
}